

.toggle_dark i {
    display: flex;
    cursor: pointer;
   
}


.profile-card .qrcode-info img{
    width: 85%;
    margin-left: 20px;
}

.profile-card .top{
    margin: -10px 40px 70px 70px;
    width: 100%;
}
.check-profile{
    text-decoration: none;
}
.profile-card p{
    color: #e5e5e5;
    text-align: center;
}