@import url('https://fonts.googleapis.com/css2?family=Anton&family=Grey+Qo&family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    user-select: none;
}

body{
    margin: 0px;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e5e5;
   
}

.bg{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.circle-1{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 0% 10% 40% 15%;
    transform: rotateZ(20deg) translateX(-100px);
    background: linear-gradient(40deg,black, #bf9a00);
}

.circle-1 img{
    width: 50%; 
}
.circle-2{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 250px;
    height: 250px;
    border-radius: 0% 10% 40% 15%;
    transform: rotateZ(140deg) translateX(-100px) translateY(-100px);
    background: linear-gradient(40deg,black, #bf9a00);
}

.sm-circle-1{
    position: absolute;
    top: 50%;
    left: 20%;
    
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(40deg,black, #bf9a00);
}

.sm-circle-2{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(40deg,black, #bf9a00);
}

.profile-card{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    border-radius: 10px;
    box-shadow: 0px 2px 30px rgba(31, 29, 12, 0.952)inset, 0px 2px 5px rgba(59, 54, 32, 0.644)inset;
    background-color: #141414;
    
}

.profile-card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
}

.profile-card .top i {
    cursor: pointer;
    text-decoration: none;
    
}

.profile-card .top img{
    width: 55%;
   margin: -20px;
   margin-bottom: -100px;

}

.profile-card .middle{
    text-align: center;
}

.profile-card .profile-wrapper{
    width: 150px;
    height: 150px;
    
    margin: 0px auto;
    position: relative;
}

.profile-card .middle .profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url("./images/curtisprofile.JPG");
    background-size: cover;
    margin: 0px auto;
}

.profile-card .middle .profile-tick{
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg,black, #bf9a00);
}

.title{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
   
}
.subheading-1{
    color: #e5e5e5;
 
}
.subheading{
    font-size: 16px;
    color: #bf9a00;
}

.short{
    margin-top: 10px;
    font-size: 14px;
    color: #e5e5e5;
}

.btn{
    margin: 40px auto;
    width: max-content;
    font-size: 14px;
    color: #e5e5e5;
    border-radius: 5px;
    padding: 5px 20px;
    background: linear-gradient(40deg,black, #bf9a00);
    margin-bottom: 30px;
}

.social-icons{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.col{
    text-align: center;
}

.col .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(191, 154, 0, 1.0);
    background: -webkit-linear-gradient(top left, rgba(191, 154, 0, 1.0), rgba(20, 20, 20, 1.0));
    background: -moz-linear-gradient(top left, rgba(191, 154, 0, 1.0), rgba(20, 20, 20, 1.0));
    background: linear-gradient(to bottom right, rgba(191, 154, 0, 1.0), rgba(20, 20, 20, 1.0));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
    text-align: center;
    margin: 0px auto;
    box-shadow: 0px 2px 5px gray;
}

.sub{
    font-size: 12px;
    margin-top: 5px;
    color: #bf9a00;
}
.check-profile{
    color: #e5e5e5;
}
.profile-email i {
    color: #e5e5e5;
    
}

.profile-email{
    text-decoration: none;
}

.col:nth-child(3) .icon {
    background-color: #0e76a8;
}

.btn{
    cursor: pointer;
}

.website-code{
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
   
  
    margin: 10px auto;
    box-shadow: 0px 4px 4px gray;
}

img{
    width: 20%;
}




